* {
margin: 0;
padding: 0;
//border: 1px solid green;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Hammersmith One', sans-serif;
}

$green-color: rgb(0, 224, 208);
$roboto-font: 'Roboto', sans-serif;
$playfair-font: 'Playfair Display', serif;
$hammersmith-font: 'Hammersmith One', sans-serif;

@mixin btn {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 1px solid $green-color;
  border-radius: 1px;
  color: $green-color;
  text-transform: uppercase;
  font-size: 13px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

header {
  height: 670px;
  width: 100%;
  background-image: url(../images/background.png);
  .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 128px;
    height: 50px;
    float: left;
    margin-top: 15px;
  }
  .menu {
    float: right;
    list-style: none;
    li {
      float: left;
      padding: 36px 0 0 30px;
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      font-weight: 900;
    }
  }
}

header h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: capitalize;
  margin-top: 150px;
  font-family: $playfair-font;
  font-size: 32px;
}


.separator {
  width: 50px;
  height: 1px;
  background-color: $green-color;
  margin: 20px 0 0 445px;
}

header p {
  color: white;
  text-align: center;
  margin-top: 35px;
  line-height: 2;
  font-family: $roboto-font;
  font-size: 14px;
}

.headerBtn {
  @include btn;
  margin: 20px 0 0 410px;
}



.logo_left {
  width: 235px;
  height: 229px;
  background-image: url(../images/left.png);
  display: inline-block;
  float: left;
  margin: 70px 0 0 50px;
}

.our_story_content {
  display: inline-block;
  width: 538px;
  float: right;
  margin: 70px 0 70px 0;
  h2 {
    font: bold 22px $playfair-font;
    text-transform: uppercase;
  }
  p {
    font: 400 14px $roboto-font;
    line-height: 1.5;
    padding-top: 15px;
  }
  .storyBtn {
    @include btn;
    margin-top: 20px;
  }
}

.video {
  height: 550px;
  width: 100%;
  background-image: url(../images/video_img.png);
  display: inline-block;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .play_icon {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .triangle {
      height: 0;
      border-style: solid;
      border-width: 25px 0 25px 43px;
      border-color: transparent transparent transparent white;
      margin-left: 7px;
    }
  }
  p {
    font: 900 16px $roboto-font;
    color: white;
    text-transform: uppercase;
    padding-top: 15px;
  }
}
