* {
margin: 0;
padding: 0;
//border: 1px solid green;
box-sizing: border-box;
}



$green-color: rgb(0, 224, 208);
$roboto-font: 'Roboto', sans-serif;
$playfair-font: 'Playfair Display', serif;
$hammersmith-font: 'Hammersmith One', sans-serif;

@mixin btn {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 1px solid $green-color;
  border-radius: 1px;
  color: $green-color;
  text-transform: uppercase;
  font: 16px $hammersmith-font;
  &:focus {
    outline: 0;
  }
}

@mixin separator {
  width: 50px;
  height: 0.5px;
  margin-top: 15px;
}

@mixin segment_style {
  width: 33.33%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 40px;
  }
  span {
    font: 900 14px $roboto-font;
    text-transform: uppercase;
    padding-top: 25px;
  }
  p {
    font: 300 14px $roboto-font;
    padding: 20px 27px 0 27px;
    line-height: 1.5;
  }
}

@mixin client {
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 80px;
  float: left;
  margin: 0 0 10px 70px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.png);
  background-size: cover;

  .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 128px;
    height: 50px;
    float: left;
    margin-top: 15px;
  }
  .menu {
    float: right;
    list-style: none;
    li {
      float: left;
      padding: 36px 0 0 30px;
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      font-weight: 900;
    }
  }
}

.content_center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: capitalize;
    margin-top: 150px;
    font-family: $playfair-font;
    font-size: 32px;
  }
  .separator {
    @include separator;
    background-color: $green-color;
  }
  p {
    color: white;
    text-align: center;
    margin-top: 15px;
    line-height: 2;
    font-family: $roboto-font;
    font-size: 14px;
  }
  .button_1 {
    @include btn;
    margin-top: 40px;
  }
}

.logo_left {
  width: 235px;
  height: 229px;
  background-image: url(../images/left.png);
  display: inline-block;
  float: left;
  margin: 70px 0 0 50px;
}

.our_story_content {
  display: inline-block;
  width: 538px;
  float: right;
  margin: 70px 0 70px 0;
  h2 {
    font: bold 22px $playfair-font;
    text-transform: uppercase;
  }
  p {
    font: 400 14px $roboto-font;
    line-height: 1.5;
    padding-top: 15px;
  }
  .button_2 {
    @include btn;
    margin-top: 20px;
  }
}

.video {
  height: 550px;
  width: 100%;
  background-image: url(../images/video_img.png);
  display: inline-block;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .play_icon {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .triangle {
      height: 0;
      border-style: solid;
      border-width: 25px 0 25px 43px;
      border-color: transparent transparent transparent white;
      margin-left: 7px;
    }
  }
  p {
    font: 900 16px $roboto-font;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
  }
}

.expertise {
  height: 755px;
  h2 {
    text-align: center;
    padding-top: 30px;
    font: bold 22px $playfair-font;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    font: 14px $playfair-font;
    padding-top: 5px;
  }
  .separator {
    @include separator;
    background-color: rgba(65, 61, 75, 0.3);
    margin-left: 445px;
  }
}

.mosaic {
  margin-top: 50px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  .segment_1 {
    @include segment_style;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .segment_2 {
    @include segment_style;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
  .segment_3 {
    @include segment_style;
    border-bottom: 1px solid lightgrey;
  }
  .segment_4 {
    @include segment_style;
    border-right: 1px solid lightgrey;
  }
  .segment_5 {
    @include segment_style;
    border-right: 1px solid lightgrey;
  }
  .segment_6 {
    @include segment_style;
  }
}

.team {
  height: 100vh;
  background-image: url(../images/team_background.png);
  background-position: center;
  span {
    font: bold 22px $playfair-font;
    text-transform: uppercase;
    color: white;
    padding-top: 50px;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  p {
    font: 400 14px $playfair-font;
    color: rgba(250, 250, 250, 0.7);
    padding-top: 5px;
    text-align: center;

  }
  .separator {
    @include separator;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 445px;
  }
}

.team_photos {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .member {
    width: 220px;
    height: 300px;
    border: 1px solid rgba(231, 231, 231, 0.5);
  }
  span {
    padding: 0;
    margin-top: 10px;
    font: 900 14px $roboto-font;
  }
  p {
    font: 300 13px $roboto-font;
    color: rgba(250, 250, 250, 0.7);
    text-transform: uppercase;
  }
}

#another_par {
  margin-top: 60px;
  font: 300 14px $roboto-font;
} //dopracować
.button_3 {
  @include btn;
  width: 150px;
  margin: 30px 0 0 400px;
}

.portfolio {
  display: flex;
  p {
    float: left;
    text-transform: uppercase;
    margin: 50px 0 50px 0;
    font: 700 22px $playfair-font;
    color:  rgba(65, 61, 75, 0.5);
  }
  span {
    display: inline-block;
    float: right;
    margin: 55px 0 50px 0;
    font: 300 14px $roboto-font;
    color:  rgba(65, 61, 75, 0.5);
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  .sample {
    height: 160px;
    width: 16.66%;
    border: 1px solid grey;
  }
  .button_4 {
    @include btn;
    width: 150px;
    margin: 50px 0 50px 545px;
  }
}

.feedbacks {
  height: 450px;
  background-image: url(../images/feedback_background.png);
  background-position: center;
  span {
    font: 400 100px $playfair-font;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
  }
  p {
    font: 400 16px $playfair-font;
    text-align: center;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.85);
  }
}

.autor {
  margin-top: 30px;
  p{
    font: 900 14px $roboto-font;
    text-transform: uppercase;
    line-height: 22px;
  }
  span{
    font: 300 13px $roboto-font;
    text-transform: uppercase;
    line-height: 22px;
  }
}

.contact {
  height: 654px;
}

form {
  display: inline-block;
  width: 50%;
  margin-top: 30px;
  float: left;
  p {
    font: 700 22px $playfair-font;
    text-transform: uppercase;
    color: rgb(65, 61, 75);
    padding-bottom: 30px;
  }
  input {
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    padding-left: 10px;
    font: 300 14px $roboto-font;
    outline: none;
    &:focus {
      background-color: rgba(243, 243, 243, .5);
    }
  }
  textarea {
    resize: none;
    width: 100%;
    height: 280px;
    border: 1px solid lightgrey;
    padding: 10px 0 0 10px;
    font: 300 14px $roboto-font;
    outline: none;
    &:focus {
      background-color: rgba(243, 243, 243, .5);
    }
  }
  button {
    @include btn;
  }
}

.clients {
  width: 50%;
  height: 610px;
  float: left;
  p {
    font: 700 22px $playfair-font;
    text-transform: uppercase;
    color: rgb(65, 61, 75);
    margin-top: 30px;
    padding: 0 0 30px 70px;
  }
  .client1{
    @include client;
    background-image: url(../images/zara.png);
  }
  .client2{
    @include client;
    background-image: url(../images/mango.png);
  }
  .client3{
    @include client;
    background-image: url(../images/barneys_new_york.png);
  }
  .client4{
    @include client;
    background-image: url(../images/gucci.png);
  }
  .client5{
    @include client;
    background-image: url(../images/puma.png);
  }
  .client6{
    @include client;
    background-image: url(../images/levis.png);
  }
  .client7{
    @include client;
    background-image: url(../images/converse.png);
  }
  .client8{
    @include client;
    background-image: url(../images/billabong.png);
  }
  .client9{
    @include client;
    background-image: url(../images/nike.png);
  }
  .client10{
    @include client;
    background-image: url(../images/calvin_klein.png);
  }
}


footer {
  height: 400px;
  background-image: url(../images/footer_background.png);
  background-position: center;
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_first_col {
    width: 30%;
    height: 250px;
  }
  .footer_second_col {
    width: 30%;
    height: 250px;
  }
  .footer_third_col {
    width: 30%;
    height: 250px;
  }
  .footer_menu {
    width: 100%;
    height: 150px;
    display: inline-block;
  }
}

.footer_first_col {
  .logo {
    width: 128px;
    height: 50px;
    background-image: url(../images/logo.png);
    margin-top: 60px;
  }
  p {
    font: 300 14px $roboto-font;
    color: white;
    line-height: 24px;
    margin-top: 15px;
    padding-left: 10px;
  }
}

.footer_second_col {
  p {
    font: 900 15px $roboto-font;
    color: white;
    text-transform: uppercase;
    margin-top: 85px;
  }
  img {
    display: inline-block;
    float: left;
    margin-top: 15px;
  }
  span {
    display: inline-block;
    width: 90%;
    float: left;
    margin-top: 15px;
    padding-left: 15px;
    font: 300 14px $roboto-font;
    color: white;
    line-height: 26px;
  }
}

.footer_third_col {
  p {
    font: 900 15px $roboto-font;
    color: white;
    text-transform: uppercase;
    margin-top: 85px;
  }
  input {
    display: inline-block;
    float: left;
    margin-top: 30px;
    padding-left: 10px;
    height: 40px;
    width: 70%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font: 300 14px $roboto-font;
    color: rgba(255, 255, 255, 0.75);
    outline: none;
    &:focus {
      background-color: rgba(243, 243, 243, .5);
    }
  }
  button {
    display: inline-block;
    float: right;
    width: 70px;
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/paper.png);
    background-repeat: no-repeat;
    background-position: center;
    &:focus {
      outline: 0;
    }
  }
  .social_media {
    display: inline-block;
    margin-top: 25px;
  }
}


.footer_menu {
  color: white;
  padding-top: 65px;
  li {
    float: left;
    padding-left: 30px;
    list-style: none;
    text-transform: uppercase;
    font: 400 14px $roboto-font;
  }
  p {
    float: right;
    font: 400 14px $roboto-font;
  }
}
